body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  .formmm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 400px;
    text-align: center;
  }
  
  .formmm h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form_field label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form_field input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #3385dc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #074d98;
  }
  